<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta name="keywords" />
    <meta name="description" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    {% block extra_head %}
    {% endblock extra_head %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'weather/css/main.css' %}">
  </head>
  <body>
    <div class="header">
      {% if request.user.is_authenticated %}
        Hello {{ request.user.first_name|default:request.user.username }}!
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      {% else %}
        <a href="{% url "login" %}">Log-in</a>
        <a href="{% url "map" %}">Home</a>
      {% endif %}
    </div>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    {% block script %}
    {% endblock script %}
  </body>
</html>
