<!DOCTYPE html>
<!-- NOTE: this needs to be updated later -->
<html lang="en">
  <head>
    <meta name="keywords" />
    <meta name="description" />
    <title>
      {% block title %}
      {% endblock title %}
    </title>
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <div id="header">
      <span class="user">
        {% if request.user.is_authenticated %}
          Hello {{ request.user.first_name|default:request.user.username }}!
          <a href="{% url 'dashboard' %}">Dashboard</a>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        {% else %}
          <a href="{% url "login" %}">Log-in</a>
        {% endif %}
      </span>
    </div>
    {% if not request.user.is_authenticated %}
      {% if coordinates|length > 0 %}
        <div class="alert">
          You must <a href="{% url 'login' %}">log in</a> to save your changes.
        </div>
      {% endif %}
    {% endif %}
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    {% block script %}
    {% endblock script %}
  </body>
</html>
