#map { 
  height: 400px;
  margin-top: 10px;
  /* set map to have lower z-index than options for overlay */
  z-index: 1;
}

#search-form {
  position: relative;
  width: 300px;
}

#map-features {
  display: flex;
  height: 400px;
}

.options-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid;
  max-height: 410px;
  overflow-y: auto;
  display: none;
  z-index: 2;
}

.option {
  padding: 10px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.option:hover {
  background-color: #f1f1f1;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(35, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.forecast-cell {
  height: 100px;
  width: 70px;
  border: 1px solid black;
  font-size: xx-small;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-cell > img {
  height: 70px;
  width: 70px;

}

.grid-label {
  height: 100px;
  width: 70px;
  border: 1px solid black;
  font-size: small;
}

.collapsible:hover {
  background-color: darkgray;
}

.collapsible {
  background-color: #eee;
  cursor: pointer;
  border: 1px solid;
  font-size: 14px;
}

.content {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
}

.accounts {
  display: flex;
  align-items: flex-start;
}

.hyperlink {
  background: none; 
  border: none; 
  color: #007bff; 
  text-decoration: underline; 
  cursor: pointer; 
  padding: 0; 
  font-size: 1em;
}

.progress-bar {
  /* somehow not used or overriden ... ?
  width: 100px; */

  height: .25em;
  background-color: lightskyblue;
  border-radius: 1.5em;
  color: black;
}

.coordinate-header {
  display: flex;
}

.coordinate {
  width: 300px;
}

.progress-container {
  display: flex;
  align-items: center;
  width: 150px;
}