{% comment %} why load static? b/c leaflet? {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="keywords" content="foo,bar" />
    <meta name="description" content="foo" />
    <title>Leaflet Topo Map</title>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'weather/css/main.css' %}">
  </head>
</html>
<body>
  <div class="header">
    <h1>Weather Tracker</h1>
    <div class="accounts">
      {% if user.is_authenticated %}
        <span>Welcome, {{ user.username }}!</span>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="hyperlink">Logout</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
      {% endif %}
    </div>
  </div>
  <form id="search-form">
    <input id="search-input" type="text" placeholder="Search by peak name ...">
    <button id="search-button" type="submit">Search</button>
    <div id="options-container" class="options-container"></div>
  </form>
  <div id="map"></div>
  <h1>Coordinates</h1>
  <div>
    <button id="expand" class="hyperlink">Expand</button>
    <button id="collapse" class="hyperlink">Collapse</button>
  </div>
  {% comment %} <div id="coordinate-list">
    {% for c in coordinates %}
      <div class="coordinate-row">
        <div id={{ c.pk }} class="coordinate-header">
          <button class="coordinate" data-lat="{{ c.latitude }}" data-lng="{{ c.longitude }}">{{ c.latitude|join:"," }}{{ c.longitude }}</button>
          <button class="collapsible" disabled>+</button>
          <button class="remove">x</button>
          <div class="progress-container">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div> {% endcomment %}
  <span>linebreak</span>
  <div id="coordinate-list">
    {% for c in coordinates %}
      <div class="coordinate-row">
        <div id={{ c.pk }} class="coordinate-header">
          <button class="coordinate"
                  data-lat="{{ c.latitude }}"
                  data-lng="{{ c.longitude }}">{{ c.latitude|join:"," }}{{ c.longitude }}</button>
          <button class="collapsible" disabled>+</button>
          <button class="remove">x</button>
          <div class="progress-container">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
  <script src="{% static 'weather/js/main.js' %}"></script>
</body>
