{% extends "base.html" %}
{% load static %}
{% block title %}
  Weather Tracker
{% endblock title %}
{% block extra_head %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'weather/css/main.css' %}">
{% endblock extra_head %}
{% block content %}
  <h1>Weather Tracker</h1>
  <form id="search-form">
    <input id="search-input" type="text" placeholder="Search by peak name ...">
    <button id="search-button" type="submit">Search</button>
    <div id="options-container" class="options-container"></div>
  </form>
  <div id="map"></div>
  <h1>Coordinates</h1>
  <div>
    <button id="expand" class="hyperlink">Expand</button>
    <button id="collapse" class="hyperlink">Collapse</button>
  </div>
  <div id="coordinate-list">
    {% for c in coordinates %}
      <div class="coordinate-row">
        <div id={{ c.pk }} class="coordinate-header">
          <button class="coordinate"
                  data-lat="{{ c.latitude }}"
                  data-lng="{{ c.longitude }}">{{ c.latitude|join:"," }}{{ c.longitude }}</button>
          <button class="collapsible" disabled>+</button>
          <button class="remove">x</button>
          <div class="progress-container">
            <div class="progress-bar"></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
{% block script %}
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
  <script type="module" src="{% static 'weather/js/main.js' %}"></script>
{% endblock script %}
